<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <h1>Tic Tac Toe</h1>
        <table>
            <tr id="row1" class="row">
                <td><h1></h1></td>
                <td class="vertical"><h1></h1></td>
                <td><h1></h1></td>
            </tr>
            <tr id="row2" class="row">
                <td class="horizontal"><h1></h1></td>
                <td class="vertical horizontal"><h1></h1></td>
                <td class="horizontal"><h1></h1></td>
            </tr>
            <tr id="row3" class="row">
                <td><h1></h1></td>
                <td class="vertical"><h1></h1></td>
                <td><h1></h1></td>
            </tr>
        </table>
        <h2 class="player--text">Player: <span class="player">X</span></h2>
    </body>
    <script src="../test.js"></script>
</html>